body {
    background-color: #fddf2f;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}

h1 {
    color: #D52B1E;
    font-size: 60px;
}

button {
    background-color: #e10079;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px;
}

button:hover {
    color: yellow;
}

#result {
    background-color: white;
    border-radius: 30px;
    margin-top: 50px;
    color: red;
    font-size: 30px;
    font-weight: bold;
}